export default function Counter() {
	let $state = $watch({
		count: 0
	});

	function incrementCount() {
		$state.count++;
	}

	@render {
		<div>
			<p>Counter: {$state.count}</p>
			<button onclick={incrementCount}>+1</button>
		</div>
	}
}
