
export default function GettingStarted() {
	@render {
		<div>
			<:head>
				<title>Getting Started</title>
			</:head>

			<h1>Getting Started</h1>
			<p>
				Use <code>npm</code> (or your preferred package manager) to add Tera to your project:
			</p>
			<pre><code>{`
npm install tera
`.trim()}</code></pre>
		</div>
	}
}
