<script>
	import { $page } from "@tera/kit/state";
</script>

<div>
	<:head>
		<title>{$page.status}</title>
	</:head>

	@if ($page.status === 404) {
		<h1>Not found!</h1>
	} else {
		<h1>Something went wrong</h1>
	}
</div>

<style>
	h1 {
		margin: 4em 0;
		text-align: center;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}
</style>
