export default function ArrayIndexes() {
	@render {
		<section>
			<p>^</p>
			@for (let i = 0; i < $props.items.length; i++) {
				key = $props.items[i].id
				<span>
					{i > 0 ? ", " : ""}
					{$props.items[i].text}
				</span>
			}
			<p>$</p>
		</section>
	}
}
