{
	"useTabs": true,
	"printWidth": 100,
	"trailingComma": "all",
	"plugins": ["@trivago/prettier-plugin-sort-imports", "@torpor/prettier"],
	"importOrder": ["^[../]", "^[./]"],
	"importOrderSortSpecifiers": true,
	"overrides": [
		{
			"files": ["*.json", "*.jsonc"],
			"options": {
				"trailingComma": "none"
			}
		}
	]
}
