<script>
	import {
		Accordion,
		AccordionItem,
		AccordionHeader,
		AccordionTrigger,
		AccordionContent,
	} from "../../../src/Accordion/index";
</script>

<Accordion value={$props.value}>
	@for (let item of $props.items) {
		@key = item.id
		<AccordionItem>
			<AccordionHeader as="h4">
				<AccordionTrigger>{item.header}</AccordionTrigger>
			</AccordionHeader>
			<AccordionContent>{item.text}</AccordionContent>
		</AccordionItem>
	}
</Accordion>
