//import { route as demo } from "@/routes/demo/[slug]"

export default function Nav() {
	function demo() {
		return ""
	}
	@render {
		<p>
			<a href="/">Demo</a>
			|
			<a href="/party">Party</a>
		</p>
	}
}
