<script>
    import { route as demoRoute } from "@/routes/demo/[slug]"
</script>

<p>
    <a href="/">Home</a>
    |
    <a href="/party">Party</a>
    |
    <a href="/demo/thingo">Demo</a>
    |
    <a href={demoRoute(5, "hi")}>Demo 5</a>
</p>
