<script>
	import Header from '../../Components/Shared/Header.vs';
	import $watch from "../../watch/src/watch";

	const state = $watch({ message: "" })
</script>

<div>
	<p class="prompt">
		Enter your message: <textarea bind:value={state.message}></textarea>
	</p>
	<p>
		<link href="/">Index page</link>
	</p>
</div>

<style>
	.prompt {
		color: red;
	}
</style>
