import BigTitle from "./BigTitle.tera";
import SmallTitle from "./SmallTitle.tera";

export default function Component($props) {
	let components = {
		BigTitle,
		SmallTitle
	};

	@render {
		<:component self={components[$props.self]}>
			Hello!
		</:component>
	}
}
