import teraLogo from '@/assets/tera.svg'
import Counter from "./Counter.tera";

/**
 * The home component
 */
export default function Index() {
	@render {
		<div>
			<a href="https://www.terajs.dev/" target="_blank">
				<img src="${teraLogo}" class="logo vanilla" alt="Tera logo" />
			</a>
			*/
			<h1>Vite + Tera</h1>
			<div class="card">
				<Counter />
			</div>
			<p class="read-the-docs">
				Click on the Tera logo to learn more
			</p>
		</div>
	}
}
