import UserProfile from "./UserProfile.tera";

export default function UserProfileApp() {
	@render {
		<UserProfile
			name="John"
			age={20}
			favouriteColors={["green", "blue", "red"]}
			isAvailable
		/>
	}
}
