export default function FancyList() {
	console.log($context.info)

	@render {
		<ul>
			@for (let item of $props.items) {
				<li class="fancy">
					<:slot item={item} />
				</li>
			}
		</ul>
	}
}
