export default function LetterItem() {
	/*
	// TODO:
	$$.onMount = () => {
		console.log('mounted a letter item')
	};
	
	$$.onDestroy = () => {
		console.log('destroyed a letter item')
	};

	$$.props = wt.wrap({
		index: 0,
		letter: 'x'
	});
	*/

	@render {
		<li>{$props.index}: {$props.letter}</li>
	}
}
