/**
 * @prop {string} name
 * @prop {number} age
 * @prop {string[]} favouriteColors
 * @prop {boolean} isAvailable
 */

<div>
  <p>My name is {$props.name}!</p>
  <p>My age is {$props.age}!</p>
  <p>My favourite colors are {$props.favouriteColors.join(", ")}!</p>
  <p>I am {$props.isAvailable ? "available" : "not available"}</p>
</div>
